branches/jramoyo-issue13/resources/xsd/project.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schema.qfixmessenger.jramoyo.com" xmlns="http://schema.qfixmessenger.jramoyo.com">

	<xs:include schemaLocation="message.xsd" />

	<xs:complexType name="messagesType">
		<xs:sequence>
			<xs:element name="message" type="messageType" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="projectType">
		<xs:sequence>
			<xs:element name="messages" type="messagesType" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" />
	</xs:complexType>

	<xs:element name="project" type="projectType" />
</xs:schema>